<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h2><%= @name.capitilize %></h2>
   <h2><%= @pg.capitilize %></h2>
   <h2><%= @sgcapitilizee %></h2>
   <h2><%= @pf.capitilize %></h2>
   <h2><%= @sf.capitilize %></h2>
   <h2><%= @c.capitilize %></h2>


 </body>
</html>
<h2>
