<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h2><%= @name.upcase %></h2>
   <h2><%= @pg.upcase %></h2>
   <h2><%= @sg.upcase %></h2>
   <h2><%= @pf.upcase %></h2>
   <h2><%= @sf.upcase %></h2>
   <h2><%= @c.upcase %></h2>


 </body>
</html>
<h2>
