<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h2><%= @name. %></h2>
   <h2><%= @pg.capatilize %></h2>
   <h2><%= @sg.capatilize %></h2>
   <h2><%= @pf.capatilize %></h2>
   <h2><%= @sf.capatilize %></h2>
   <h2><%= @c.capatilize %></h2>


 </body>
</html>
<h2>
